@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.add-margin {
    margin: 5px;
}

.navbar {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 20px;
    background-color:lightgray;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.search-bar {
    width: 50%;
}

.btn {
    padding: 3px 6px;
    background-color:dodgerblue;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}

.column-1 {
    display: inline-block;
    margin-left: 10%;
    width: 50%;
}

.definition {
    margin-top: 20px;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
}

.word-column {
    text-align:center;
    width: 30%;
}

.like-button {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 70%;
    padding: 3px;
    color: black;
    background-color:gold;
    font-weight:bold;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}

.definition-column {
    display: inline-block;
    width: 70%;
    padding: 5%;
}

.part-of-speech {
    font-style: italic;
}

.plural span {
    font-style: italic;
}

.column-2 {
    display: inline-block;
    vertical-align:top;
    margin-left: 3%;
    width: 27%;
}

.new-definition {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    height: 100px;
}

.add-definition {
    margin: 10px;
    width: 90%;
    background-color:rgb(135, 194, 135);
    text-align:center;
    font-weight:bold;
    padding: 4px 16px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}